/* Google Fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
  
}
body{
  background-color: #121212;
}

.myHeadingG{
    color:  #F3BD50;
   margin: 1rem 1rem 0.5rem 1rem;
   text-align: center;
   /* font-size: 2.5rem; */

}
.titleRs{
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.5rem;
    /* border: 1px solid black; */
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5)
}
.myCategories{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 1.4rem;
    margin-left: 1rem;
}
.centerB{
        text-align: center;
        margin-left: -1rem;
}
.myCategories p {
    color: gray;
    font-size: 0.8rem;
}
.myCategories h4 {
    color: whitesmoke;
    font-size: 1.5rem;
}

.myImg{

    height: 4.3rem;
    width: 4.3rem;
    border-radius: 50%;
}
.mySlider{

display: flex;
/* justify-content: space-evenly; */
overflow: scroll;
}
.sIterm{
display: flex;
flex-direction: column;
justify-content: space-evenly;
align-items: center;
align-content: center;
color: #121212;
text-decoration: none;
margin: 0 1.2rem;
}
.all{
background-color: whitesmoke;
/* text-align: center; */
display: flex;
align-content: center;
align-items: center;
justify-content: center;
}
.sIterm h6{
margin-top: 0.4rem;
}
.titleMenu{
margin-left: 1rem;
margin-top: 1rem;

}
.catImg{

height: 2.7rem;
width: 2.7rem;
border-radius: 50%;
margin-right: 0.5rem;
border: 2px solid #F3BD50;
}
.listHeading{
display: flex;
/* justify-content: space-around; */
margin-left: 1rem;
margin-bottom: 1.5rem;
margin-top: 1.5rem;
}
.catelogTile{
/* display: flex; */
/* flex-direction: column; */
/* justify-content: space-evenly; */
}
.catTile{
font-size: 1.2rem;
margin: 0;
color: #F3BD50;
}
.catAbout{
font-size: 0.7rem;
color: gray;
margin: 0;
}
.vegLogo{
height: 1.8rem;
width: 1.5rem;
margin-right: 0.5rem;
}
.cardIterm{
display: flex;
flex-direction: column;
justify-content: space-between;
background-color: rgba(245, 245, 245, 0.11);
border: 1px solid rgba(128, 128, 128, 0.247);
margin: 1rem;
padding: 0.6rem;
border-radius: 1rem;
color: whitesmoke;

}
.topB{
display: flex;
justify-content: space-between;
}
.left{
display: flex;
/* align-items: center; */
/* align-items: center; */
height: 5rem;
}
.itermName{
font-size: 1.2rem;
}
.bot{

border-top: 1px solid  rgba(128, 128, 128, 0.664);
padding-top: 0.4rem;
}
.newTag {
background-color: rgba(255, 0, 0, 0.651);
/* display: inline; */
padding: 0.3rem;
/* border: 1px solid ; */
border-radius: 1rem;
color: whitesmoke;
/* color: rgba(255, 0, 0, 0.548); */

}
.special {
background-color: rgba(255, 217, 0, 0.644);
/* display: inline; */
padding: 0.3rem;
/* border: 1px solid ; */
border-radius: 1rem;
color:whitesmoke;
/* color:goldenrod; */
/* color:rgb(255, 217, 0); */
}
/* .tagIterm{
    color: #F3BD50;
} */
.imgSoci{
height: 2rem;
width: 2rem;
margin: 0.5rem;
}

.socialM{
display: flex;
justify-content: center;
}

.myListContainer{
    height: 60vh;
    /* height: 55vh; */
    overflow: scroll;
    
}

/* bottom */

.contBottom {
    position: fixed;
    bottom: 0;
    width: 100%;
    /* height: 20vh; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
    /* border: 1px solid black; */
    overflow: scroll;
}
/* menu button list =================================================*/
.button-container {
    display: flex;
    justify-content: center;
  }
  
  .scrollable-wrapper {
    overflow-x: scroll;
    width: 100%;
    -webkit-overflow-scrolling: touch;
    display: flex;
    justify-content: center;
  }
  
  .button-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  
  .button-list a {
    margin: 0 10px;
  
  }
  
  .button-list a button {
    /* width: 8rem; */
    cursor: pointer;
    margin: 0.4rem 0.2rem;
  }
  .button-list a button:focus{
    background-color: #F3BD50;
    
    color: #333;
    
    
  }
  .button-list a button:hover{
    background-color: #F3BD50;
    
    color: #333;
    
    
  }
  .button-list a button.active {
    background-color: #ffaa00;
  }
  
  /* Media Query for responsiveness */
  @media screen and (max-width: 768px) {
    .button-list {
      flex-wrap: nowrap;
    }
  
    .scrollable-wrapper {
      overflow-x: scroll;
      justify-content: start;
    }
  
    .button-list a {
      margin: 5px;
    }
  }
  